html {
    height: 100%;
    background-image: url("https://ak8.picdn.net/shutterstock/videos/18933008/thumb/1.jpg");
    background-attachment: fixed;

}

body {
    height: 100%;
}
a {
    text-decoration: none;
}

.main {
    background-image: url("https://cn.wahooart.com/Art.nsf/O/9CWBP9/$File/Karl+Bodmer-Indians+Hunting+The+Bison.JPG");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    margin-top: 10px;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.header{
    text-align: center;
    font-size: 50px;
    padding: 20px;
    width: 100%;
    color: #0000ff;
    background-color: black;
    border: solid ;
    border-color: blue;
    margin-bottom: 15px;
    border-style: groove;
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.thing{
    font-size: 20px;
    color: white;
    text-decoration: underline;
}
.gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.thumbnail{
    display: flex;
    justify-content: space-around;
}
.thumbnail-image{
    width: 500px;
    height: 500px;
    margin-top: 105px;
    margin-right: 15px;
    border-color: #7575a3;
    border: solid black;
}
.aboutMain{
    display: flex;
}
.leftPane{
    width: 30%;
    height: 100%;
    color: white;
    font-size: 25px;
    font-family: 'Krub', sans-serif;
    margin-top: 15px;
    margin-right: 5px;
    text-align: justify;
}
.rightPane{
    width: 70%;
    background-image: url("http://www.national-geographic.pl/media/cache/default_view/uploads/media/default/0001/90/4551ef245832e253ed9968eb39f9a9a2f92579f8.jpeg");
    background-repeat: no-repeat;
    margin-top: 15px;
}
.copy{
    color: white;
    margin-bottom: 5px;
}